* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: auto;
  width: 100vw;
  overflow-x: hidden;
}

.downLoad {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.downLoad img {
  width: 2.5vw;
}

#pdf {
  width: 9rem;
  height: 2rem;
  background-color: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  background-color: #f3f3f6;
}

.container {
  width: 30%;
  height: auto;
  padding: 10px 15px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  gap: 1rem;
  margin-top: 1rem;
  /* background-color: aquamarine; */
}

.leftBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 15px;
}
.optionDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  font-size: 18px;
}

#selectType {
  width: 100%;
  height: 2rem;
  font-size: 16px;
}

.header-color,
.text-color {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 0.7rem;
}
.header-color div,
.text-color div {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
}
.header-color img,
.text-color img {
  width: 2vw;
  display: flex;
  gap: 10px;
}

.Personal {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Personal input {
  height: 2rem;
  padding: 0px 10px;
  font-size: 16px;
}

.Professional {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.Professional input {
  height: 2rem;
  padding: 0px 10px;
  font-size: 16px;
}

.Professional textarea {
  padding: 10px 10px;
  font-size: 16px;
}

.container-2 {
  width: 70%;
  margin-top: 1rem;
  height: auto;
  display: flex;
  justify-content: center;
}

.addEmployment,
.addProject,
.addEducational {
  width: 100%;
  cursor: pointer;
}
.addEmployment p,
.addProject p,
.addEducational p {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.2rem;
  background-color: hsl(120, 61%, 40%);
  color: white;
}

.addEmployment p:hover,
.addProject p:hover,
.addEducational p:hover {
  background-color: hsl(120, 43%, 35%);
  transform: scale(0.98);
}

.adding-employment,
.adding-project,
.adding-education {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.adding-employment :nth-last-child(1),
.adding-project :nth-last-child(1),
.adding-education :nth-last-child(1) {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.adding-employment button,
.adding-project button,
.adding-education button {
  width: 100%;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border: 0;
  background-color: hsl(219, 79%, 66%);
  color: white;
  font-size: 17px;
}

.adding-employment button:hover,
.adding-project button:hover,
.adding-education button:hover {
  background-color: hsl(219, 79%, 56%);
  transform: scale(0.98);
}

.adding-employment input,
.adding-project input,
.adding-education input {
  width: 100%;
  height: 2rem;
  padding: 5px 5px;
  font-size: 16px;
}

.adding-employment textarea,
.adding-project textarea,
.adding-education textarea {
  width: 100%;
  height: 8rem;
  padding: 5px 10px;
  font-size: 16px;
}
